<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let animal of animales; let i = index">
      <ion-item (click)="reproducir( animal )">
        <div class="content-item">
          <div class="content-animal">
            <ion-avatar item-left>
              <img [src]="animal.imagen">
            </ion-avatar>
            <h2>{{animal.nombre}}</h2>
          </div>
          <div>
            <ion-icon *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
            <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>
          </div>
        </div>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
</ion-content>
